<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <header class="bg-white shadow-md">
    <nav class="container mx-auto flex justify-between items-center p-4">
      <div class="flex items-center space-x-4">
        <div class="text-2xl font-bold text-blue-600">
          {{#if user}}
            <a href="/views/products">Tiendita del Ale</a>
          {{else}}
            <a href="/">Tiendita del Ale</a>
          {{/if}}
        </div>
        {{#if user}}
          <a href="/views/products" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-lg transition duration-300">Productos</a>
        {{/if}}
      </div>
      {{#if user}}
        <form action="/users/logout" method="POST">
          <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg transition duration-300">Logout</button>
        </form>
      {{/if}}
    </nav>
  </header>
  <main class="container mx-auto p-6">
    {{{body}}}
  </main>
</body>
</html>
