<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <header class="bg-white shadow-md">
    <nav class="container mx-auto flex justify-between items-center p-4">
      <div class="flex items-center space-x-4">
        {{#if user}}
          <!-- Mostrar en todas las pantallas excepto en el login -->
          <a href="/views/profile" class="text-2xl font-bold text-blue-600">Tiendita del Ale</a>
          <a href="/views/products" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-lg transition duration-300">Productos</a>
        {{else}}
          <!-- Mostrar solo en la pantalla de login -->
          <a href="/" class="text-2xl font-bold text-blue-600">Tiendita del Ale</a>
        {{/if}}
      </div>
      <div class="flex items-center space-x-4">
        {{#if user}}
          <a href="/views/cart" class="relative">
            <svg class="w-6 h-6 text-gray-700 hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4m1.6 6l-.6 3m-1.5 3a2 2 0 11-4 0 2 2 0 014 0zm12 0a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
          </a>
          <form action="/users/logout" method="POST">
            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg transition duration-300">Logout</button>
          </form>
        {{/if}}
      </div>
    </nav>
  </header>
  <main class="container mx-auto p-6">
    {{{body}}}
  </main>
</body>
</html>
